.cell {
  flex: 0 0 calc(20% - 1px);
  height: 380px;
  position: relative;
  box-sizing: border-box;
}

.cell:hover {
  cursor: pointer;
}

.cell._active::before {
  content: '';

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  height: 380px;
  background-color: #1a1a1a;
  z-index: 2;
}

.cell__diagonal {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  z-index: 2;
  opacity: 0;
}

.cell__line {
  stroke: #333;
  stroke-width: 1px;
}

.cell._active .cell__diagonal {
  opacity: 1;
  animation: number-appear 2s forwards;
}

.cell__letter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: 'klavika', sans-serif;
  font-weight: 900;
  font-size: 300px;
  text-transform: uppercase;
  line-height: 1;
  color: #fff;

  opacity: 0;
  z-index: 3;
  transition: all 0.3s ease 0s;
}

.cell._active .cell__letter {
  opacity: 1;
  animation: number-appear 2s forwards;
}

.cell._inactive::before {
  content: '';

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 380px;

  background-color: #1a1a1a;
  animation: disappear 4s forwards;
  z-index: 2;
}

.cell__number {
  position: absolute;
  top: 17px;
  left: 10px;

  font-family: 'klavika', sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1px;
  color: #fff;

  margin: 0;
  z-index: 3;
  padding-bottom: 4px;
  border-bottom: 1px solid #fff;
}

.cell__name {
  position: absolute;
  top: 47px;
  left: 10px;

  font-family: 'klavika', sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;

  margin: 0;
  z-index: 3;
}

.cell._active .cell__name {
  animation: name-disappear 0.15s ease-in-out forwards;
}

.cell._active .borders {
  opacity: 1;
}

@keyframes disappear {
  from {
    background: #1a1a1a;
  }
  to {
    opacity: 0;
  }
}

@keyframes name-disappear {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes number-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 640px) {
  .cell {
    flex: 0 0 calc(50% - 1px);
  }
}
