.careers {
  font-family: 'klavika', sans-serif;
  position: relative;
  animation: in 1s forwards;
  top: 0;
}

.careers__title {
  font-size: 72px;
  line-height: 0.8;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  padding: 28px 60px;
}

.vacancies-item._2 {
  animation: inItem 1s forwards 0s;
}
.vacancies-item._3 {
  animation: inItem 1s forwards 0.2s;
}
.vacancies-item._4 {
  animation: inItem 1s forwards 0.4s;
}
.vacancies-item._5 {
  animation: inItem 1s forwards 0.6s;
}
.vacancies-item._6 {
  animation: inItem 1s forwards 0.8s;
}
.vacancies-item._7 {
  animation: inItem 1s forwards 1s;
}
.vacancies-item._8 {
  animation: inItem 1s forwards 1.2s;
}
.vacancies-item._9 {
  animation: inItem 1s forwards 1.4s;
}

.careers__applications {
  color: #fff;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  font-family: 'klavika', sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 0.8;
  text-transform: uppercase;
  padding: 108px 60px 75px;
  margin: 0;
}

.careers__open-open {
  display: flex;
  border-bottom: 1px solid #333;
}

.careers__inner {
  width: 50%;
}

.careers__open-open-text {
  color: #fff;
  font-family: 'droid', sans-serif;
  margin: 0;
  font-size: 21px;
  line-height: 1.6;
  padding: 44px 180px 44px 60px;
}

.careers__button {
  text-decoration: none;
  max-width: fit-content;
  height: 80px;
  font-size: 18px;
  line-height: 0.8;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  border: 2px solid #fff;
  margin-top: 50px;
  background-color: transparent;
  padding: 0 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.careers__button:hover {
  color: #000;
  background-color: #fff;
  cursor: pointer;
}

@keyframes in {
  from {
    top: 100vh;
  }
  to {
    top: 0;
  }
}

@media (max-width: 960px) {
  .careers__applications {
    font-size: 56px;
  }
  .careers__open-open {
    flex-direction: column;
  }
  .careers__inner {
    width: auto;
  }
  .careers__open-open-text {
    padding-bottom: 80px;
    font-size: 19px;
    line-height: 1.67;
  }
  .careers__button {
    margin: 0 0 40px 60px;
  }
}

@media (max-width: 640px) {
  .careers__applications {
    padding-left: 20px;
  }
  .careers__open-open-text {
    padding-left: 20px;
    padding-right: 20px;
  }
}
