.about {
  font-family: 'klavika', sans-serif;
  background-color: #fff;
  position: relative;
  animation: in 1s forwards;
  top: 0;
}

.about__cover {
  width: 100%;
  height: 478px;
  object-fit: cover;
}

.content__text {
  max-width: 1040px;
  padding: 120px 80px 113px;
  margin: 0 auto;
}

.content__title {
  margin: 0 0 71px;
  color: #1a1a1a;
  font-weight: 700;
  font-size: 72px;
  line-height: 0.8;
  text-transform: uppercase;
}

.content__paragraph {
  margin: 37px 0 0;
  max-width: 880px;
  font-family: 'droid', sans-serif;
  font-size: 20px;
  line-height: 1.85;
  color: #333;
}

.content__paragraph:first-child {
  margin-top: 0;
}

.content__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 225px;
  height: 80px;
  border: 2px solid #000;
  position: relative;
}

.content__link > p {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #fff;
  z-index: 2;
}

.content__link > span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #000;
}

.content__link:hover > span {
  animation: hover 0.05s forwards;
}

.about__info {
  padding: 140px 0;
}

.social_about {
  margin-top: 109px;
  max-width: fit-content;
  margin-left: auto;
}

.social__item_about {
  border-top: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
}

.social__follow {
  font-family: 'klavika', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 80px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0 40px;
  color: #fff;
}

@keyframes in {
  from {
    top: 100vh;
  }
  to {
    top: 0;
  }
}

@media (max-width: 640px) {
  .content__paragraph {
    font-size: 17px;
    line-height: 1.67;
  }
  .content__title {
    margin: 0 0 35px;
    font-size: 56px;
  }
  .content__text {
    padding: 54px 20px;
  }
  .social_about {
    display: none;
  }
}
