.contact {
  font-family: 'klavika', sans-serif;
  position: relative;
  animation: in 1s forwards;
  top: 0;
}

.contact._change {
  top: 100vw;
}

.contact__title {
  font-size: 72px;
  line-height: 0.8;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  padding: 28px 60px 75px;
}

@keyframes in {
  from {
    top: 100vh;
  }
  to {
    top: 0;
  }
}

@media (max-width: 960px) {
  .contact__title {
    font-size: 56px;
  }
}
